<div class="left_block">
  <div class="item_title">
    <%= itemName %>
  </div>
  <div class="item_description">
    <%= longDescription %>
  </div>
  <!-- <div class="order_price">$2.5</div> -->
  <div class="wrapper">
    <div class="versions_selectors_container">
      <% _.each(selectorVersions, function(selector, index){ %>
          <select name="select-version-<%= index %>" id="select-version-<%= index %>" class="select-version">
              <% _.each(selector, function(version){ %>
                  <option value="<%= version %>" <% if (availableVersion[index] === version) { %>selected<% } %> ><%= version %></option>
              <% }) %>
          </select>
      <% }) %>
    </div>
    <% if (hasSubItems) { %>
      <button class="customize_btn" name="item_customize">customize</button>
    <% } %>
  </div>
</div>
<div class="right_block">
  <button class="add_to_cart_btn">add to cart</button>
</div>
<div class="item_version_not_available">
  <span>&#9888; This combination is not available</span>
</div>
<div class="customization_continer" id="customizationContainer"></div>
<!-- <div class="item_added_versions">
  <div class="version_description">8oz</div>
  <div class="quantity_container">
    <div class="block minus">-</div>
    <div class="block number">1</div>
    <div class="block plus">+</div>
  </div>
  <div class="version_price">$2.5</div>
</div> -->