<div class="left_block">
  <div class="item-row">
    <% if (thumbnailBase64) { %>
      <div class="item_image_small">
        <img src="data:image/gif;base64,<%= thumbnailBase64 %>">
      </div>
    <% } %>
    <div class="text-block">
      <div class="item_title">
        <%= itemName %>
      </div>
      <div class="item_description">
        <%= longDescription %>
      </div>
    </div>
  </div>
  <% if (hasSubItems) { %>
    <button class="customize_btn" name="item_customize"><span class="customization-mark" name="customization-mark">*</span>customize <span class="expand-symbol down">&lsaquo;</span><span class="expand-symbol up">&lsaquo;</span></button>
  <% } %>
</div>
<div class="right_block">
  <div class="item_price" name="items_price">$<%= price %></div>
  <div class="quantity_container">
    <div class="block minus" name="quantity_decrease">-</div>
    <div class="block number" name="quantity">1</div>
    <div class="block plus" name="quantity_increase">+</div>
  </div>
  <button class="add_to_cart_btn" name="add_to_cart_btn">add to cart</button>
</div>
<div class="customization_continer" id="customizationContainer"></div>
<div name="extra-details" class="extra_details_container">
  <div class="extra-content">
    <% if (mediaURLs && mediaURLs[0]) { %>
      <div class="item_image_detailed">
        <img name="details-image" src="">
      </div>
    <% } %>
    <div class="item_long_description">
      <span><%= longDescription %></span>
    </div>
  </div>
</div>
<div class="out-of-stock-cover">
  <div class="out-of-stock-inner">
    <span class="cross">&#10060;</span>
  </div>
  <div class="out-of-stock-inner">
    <span class="text">Out of stock</span>
  </div>
</div>