<div class="orders_history_container">
	<h4 class="history-title">Order history</h4>
	<div class="table-container">
		<table>
			<thead>
				<tr>
					<th>Order #</th>
					<th>Total</th>
	        <th>Biz Name</th>
					<th>Date</th>
					<th>Re-order</th>
				</tr>
			</thead>
			<tbody>
				<% _.each(ordersHistory, function(order) { %>
					<tr class="order-row" name="order-row" data-uuid="<%= order.orderUUID %>">
						<td><%= order.orderId %></td>
						<td>$<%= order.totalAmount.toFixed(2) %></td>
	          <td><%= order.saslName %></td>
						<td><%= order.dateTimeOrderPlacedOn %></td>
						<td><a class="reorderButton" href="<%= order.reorderURL %>">Re-order</a></td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>
