<div data-role="page" id="payment_page">
    <div class="circles_block">
        <div class="circle"></div>
        <div class="circle cmtyx_border_color_1 cmtyx_color_1"></div>
        <div class="circle last"></div>
    </div>
    <div class="navigation">
        <div class="left_arr_block nav_back_btn"><span>Back</span></div>
        <div class="page_title">Payment</div>
        <div class="right_arr_block nav_next_btn"><span>Next</span></div>
    </div>

    <div data-role="tabs" id="tabs">
        <div data-role="navbar">
            <ul>
                <li><a href="#credit" data-id="credit" data-ajax="false" class="leftBtn ui-btn-active cmtyx_border_color_1 cmtyx_text_color_1 cmtyx_color_1">Credit</a></li>
                <li><a href="#cash" data-id="cash" data-ajax="false" class="rightBtn cmtyx_border_color_1 cmtyx_text_color_1">Cash</a></li>
            </ul>
        </div>
        <div id="credit" class="ui-body-d ui-content">
            <p class="choose_card_text">Choose card:</p>
            <form>
                <% if (cardNumber) { %>
                    <label for="saved_card"><%= creditCard.cardNumber %></label>
                    <input type="radio" name="radio-choice-card" id="saved_card" class="cardRadioChoice" checked='checked'>
                    <label for="use_another">Use another</label>
                    <input type="radio" name="radio-choice-card" id="use_another" class="cardRadioChoice">
                <% } else { %>
                    <label for="saved_card" class="hidden"></label>
                    <input type="radio" name="radio-choice-card" id="saved_card" class="cardRadioChoice hidden" checked='checked'>
                    <label for="use_another">Use another</label>
                    <input type="radio" name="radio-choice-card" id="use_another" class="cardRadioChoice" checked='checked'>
                <% } %>
            </form>
            <div class="ui-grid-a back_next_btns">
                <div class="ui-block-a p-r-10">
                    <button class="ui-btn ui-corner-all back_btn nav_back_btn cmtyx_border_color_1 cmtyx_text_color_1">Back</button>
                </div>
                <div class="ui-block-b p-l-10">
                    <button class="ui-btn ui-corner-all next_btn nav_next_btn cmtyx_color_1 cmtyx_border_color_1">Next</button>
                </div>
            </div>
        </div>
        <div id="cash" class="ui-body-d ui-content">
            <% if (!addrIsEmpty) { %>
                <p class="delivery_address_text">Delivery address</p>
                <p class="address"><%= deliveryAddress.street + ' ,' + deliveryAddress.number + ' ,' + deliveryAddress.city %></p>
            <% } %>
            <p class="your_order_text">Your order</p>
            <ul class="order_list">
                <% _.each(combinedItems, function(item) { %>
                    <li>
                        <span class="order_name"><%= item.quantity %>X <%= item.displayText %></span>
                        <span class="order_price cmtyx_text_color_1"><%= cs + item.price %></span>
                    </li>
                <% }) %>
                <!-- <li><span class="order_name">Combo 1</span><span class="order_price cmtyx_text_color_1"><%= cs %>9.75</span></li>
                <li><span class="order_name">Ginger beer</span><span class="order_price cmtyx_text_color_1"><%= cs %>3.50</span></li>
                <li><span class="order_name">Fresh fruits</span><span class="order_price cmtyx_text_color_1"><%= cs %>9.75</span></li> -->
            </ul>
            <ul class="price_list">
                <li>
                    <span class="order_name">Subtotal</span>
                    <span class="order_price cmtyx_text_color_1"><%= cs + subTotal %></span>
                </li>
                <li >
                    <span class="order_name">Tax (<%= taxState %>%)</span>
                    <span class="order_price cmtyx_text_color_1"><%= cs + taxAmount %></span>
                </li>
                <li class="tip_price">
                    <span class="order_name">Tip</span>
                    <div class="float_right">
                        <div class="select_container tip_counter">
                            <div class="ui-grid-b">
                                <div class="ui-block-a quantity_minus decrementQuantity">
                                    <a class="right minus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-minus ui-btn-icon-notext"></a>
                                </div>
                                <div class="ui-block-b cmntyex-add_to_basket_quantity tip_quantity_field">
                                     <span class="tip_quantity"><%= tip %>%</span>
                                </div>
                                <div class="ui-block-c quantity_plus incrementQuantity">
                                    <a class="left plus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-plus ui-btn-icon-notext"></a>
                                </div>
                            </div>
                        </div>
                        <span class="order_price tip_price_value cmtyx_text_color_1"><%= cs + tipSum %></span>
                    </div>
                </li>
                <li class="total_price">
                    <span class="order_name">Total</span>
                    <span class="order_price cmtyx_text_color_1"><%= cs %><%= totalAmount %></span>
                </li>
            </ul>
            <div class="ui-grid-a back_next_btns">
                <div class="ui-block-a p-r-10">
                    <button class="ui-btn ui-corner-all back_btn nav_back_btn cmtyx_border_color_1 cmtyx_text_color_1">Back</button>
                </div>
                <div class="ui-block-b p-l-10">
                    <button class="ui-btn ui-corner-all next_btn nav_next_btn cmtyx_color_1 cmtyx_border_color_1">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
