<div data-role="page" id="summary">
    <div class="circles_block">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle last cmtyx_border_color_1 cmtyx_color_1"></div>
    </div>
    <div class="navigation">
        <div class="left_arr_block nav_back_btn"><span>Back</span></div>
        <div class="page_title">Summary</div>
        <div class="right_arr_block nav_next_btn placeOrderBtn"><span>Next</span></div>
    </div>
    <div data-role="tabs" id="tabs">
        <div id="summary_info" class="ui-body-d ui-content">
            <% if (cardNumber) { %>
                <p class="card_text">Card</p>
                <p class="card_number"><%= cardNumber %></p>
            <% } %>
            <% if (!addrIsEmpty && allowDelivery) { %>
                <p class="delivery_address_text">Delivery address</p>
                <p class="address"><%= deliveryAddress.number + ', ' + deliveryAddress.street + ', ' + deliveryAddress.city %></p>
            <% } %>
            <p class="your_order_text">Your order</p>
            <ul class="order_list">
                <% _.each(combinedItems, function(item) { %>
                    <li>
                        <span class="order_name"><%= item.quantity %>X <%= item.displayText %></span>
                        <span class="order_price cmtyx_text_color_1"><%= cs + item.price %></span>
                    </li>
                <% }) %>
            </ul>
            <ul class="price_list">
                <li>
                    <span class="order_name">Subtotal</span>
                    <span class="order_price cmtyx_text_color_1"><%= cs + subTotal %></span>
                </li>
                <li>
                    <span class="order_name">Tax (<%= taxState %>%)</span>
                    <span class="order_price cmtyx_text_color_1"><%= cs + taxAmount %></span>
                </li>
                <li class="tip_price">
                    <span class="order_name">Tip</span>
                    <div class="float_right">
                        <div class="select_container tip_counter">
                            <div class="ui-grid-b">
                                <div class="ui-block-a quantity_minus decrementQuantity">
                                    <a class="right minus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-minus ui-btn-icon-notext"></a>
                                </div>
                                <div class="ui-block-b cmntyex-add_to_basket_quantity tip_quantity_field">
                                     <span class="tip_quantity"><%= tip %>%</span>
                                </div>
                                <div class="ui-block-c quantity_plus incrementQuantity">
                                    <a class="left plus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-plus ui-btn-icon-notext"></a>
                                </div>
                            </div>
                        </div>
                        <span class="order_price tip_price_value cmtyx_text_color_1"><%= cs + tipSum %></span>
                    </div>
                </li>
                <li class="discount <%= backToSingleton ? 'hidden' : '' %>">
                    <span class="order_name">Discount</span>
                    <div class="float_right">
                        <input type="text" name="promocode" data-role="none" placeholder="enter code" value="<%= promoCode %>" <%= promoCode ? 'disabled' : '' %> />
                        <% if (!promoCode) { %>
                            <a class="get_discount_button cmtyx_border_color_1 cmtyx_text_color_1" href="#">Apply</a>
                        <% } %>
                        <span class="order_price discount_value cmtyx_text_color_1"><%= cs + discount %></span>
                    </div>
                </li>
                <li class="total_price">
                    <span class="order_name">Total</span>
                    <span class="order_price cmtyx_text_color_1"><%= cs + totalAmount %></span>
                </li>
            </ul>
            <div class="ui-grid-a back_next_btns">
                <div class="ui-block-a p-r-10">
                    <button class="ui-btn ui-corner-all back_btn nav_back_btn cmtyx_border_color_1 cmtyx_text_color_1">Back</button>
                </div>
                <div class="ui-block-b p-l-10">
                    <button class="ui-btn ui-corner-all next_btn cmtyx_color_1 cmtyx_border_color_1">Place order</button>
                </div>
            </div>
        </div>
    </div>
</div>
