<div class="circles_block">
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle active"></div>
  <div class="circle"></div>
</div>

<div class="navigation_block">
  <div class="nav_back_btn">
    <img src="themes/1/desktop/images/arrow-point-to-left.png" alt="">back
  </div>
  <div class="page_title">
    payment 
  </div>
  <div class="nav_next_btn">
    next<img src="themes/1/desktop/images/arrow-point-to-right.png" alt="">
  </div>
</div>

<div class="tabs">
  <button data-activate="credit" class="tablinks left">Credit</button>
  <button data-activate="cash" class="tablinks right">Cash</button>
</div>

<div id="credit" class="tabcontent card">
  <div class="title">
    Choose card:
  </div>

  <form>
      <% if (cardNumber) { %>
          <input data-card="saved" type="radio" name="radio-choice-card" id="saved_card" class="cardRadioChoice" checked='checked'>
          <label for="saved_card"><%= creditCard.cardNumber %></label>
          <br>
          <input data-card="another" type="radio" name="radio-choice-card" id="use_another" class="cardRadioChoice">
          <label for="use_another">Add another card</label>
      <% } else { %>
          <input data-card="another" type="radio" name="radio-choice-card" id="use_another" class="cardRadioChoice" checked='checked'>
          <label for="use_another">Add another card</label>
      <% } %>
  </form>
</div>

<div id="cash" class="tabcontent cash">
  <% if (deliveryDate) { %>
      <p class="delivery_date_text">Selected date</p>
      <p class="selected_date"><%= deliveryDate.day + ' ' + deliveryDate.time.displayString %></p>
  <% } %>
  <% if (!addrIsEmpty && deliverySelected) { %>
      <p class="delivery_address_text">Delivery address</p>
      <p class="address"><%= deliveryAddress.number + ' ' + deliveryAddress.street + ', ' + deliveryAddress.city + ', ' + deliveryAddress.state%></p>
  <% } else if (pickupAddress && pickupSelected) { %>
      <p class="delivery_address_text">Pickup location</p>
      <p class="address"><%= pickupAddress.number + ' ' + pickupAddress.street + ', ' + pickupAddress.city + ', ' + pickupAddress.state%></p>
  <% } %>
  <% if (!paymentOnlineAccepted) { %>
      <div>Cash payment</div>
  <% } %>
  <div class="title">
    Your order
  </div>
  <ul class="order_list">
      <% _.each(combinedItems, function(item) { %>
          <li class="order_list_item">
              <div class="left_block">
                  <div class="item_name"><%= item.quantity %>X <%= item.displayText %></div>
              </div>
              <!-- <% if (item.isVersion) { %>
                  <span class="order_version">(<%= item.versionText %>)</span>
              <% } %> -->
              <div class="right_block">
                  <div class="item_price cmtyx_text_color_4"><%= cs + item.price %></div>
              </div>
          </li>
      <% }) %>
  </ul>
  <div class="additional_prices">
    <div class="subtotal_price price_name">Subtotal</div>
    <div class="price cmtyx_text_color_4"><%= cs + subTotal %></div>
  </div>
  <div class="additional_prices">
    <div class="subtotal_price price_name">Shipping</div>
    <div class="price cmtyx_text_color_4">$5.00</div>
  </div>
  <div class="additional_prices">
    <div class="subtotal_price price_name">Tax</div>
    <div class="price cmtyx_text_color_4"><%= cs + taxAmount.toFixed(2) %></div>
  </div>
  <div class="additional_prices">
    <div class="left_block">
      <div class="subtotal_price price_name">Tip</div>
    </div>  
    <div class="right_block">
      <div class="quantity_container">
        <div class="block minus">-</div>
        <div class="block number tip_number">20%</div>
        <div class="block plus">+</div>
      </div>
      <div class="price cmtyx_text_color_4">$3.00</div>
    </div>
  </div>
  <div class="total_price">
    <div class="name">total</div>
    <div class="price cmtyx_text_color_4"><%= cs + totalAmount %></div>
  </div>
</div>

<div class="bottom_btns_block">
  <button type="" class="back_btn">Back</button>
  <button type="" class="next_btn">Next</button>
</div>