<div class="left_block">
  <span class="remove_item_btn" name="remove_item">&times;</span>
  <div class="item_name"><%= itemName %></div>
  <% if(customizationNote) { %>
    <div class="item_description customization">
      <% _.each(subItems, function(subItem){ %>
        <span class="customization-title"><%= subItem.displayText %>:</span>
        <ul class="customization-part">
          <% _.each(subItem.selected, function(subSubItem){ %>
            <li class="customization-item-name">+ <%= subSubItem.displayText %> (<%= subSubItem.priceAdjustment.toFixed(2) %>)</li>
          <% }); %>
        </ul>
      <% }); %>
    </div>
  <% } %>
</div>
<div class="right_block">
  <div class="quantity_container">
    <div class="block minus" name="quantity_decrease">-</div>
    <div class="block number"><%= quantity %></div>
    <div class="block plus" name="quantity_increase">+</div>
  </div>
  <div class="item_price cmtyx_text_color_1">$<%= (price * quantity).toFixed(2) %></div>
</div>