<% _.each(versions, function(version, index){ %>
	<div class="item_version" data-version="<%= index %>">
		<div class="left_part">
			<span class="version-description"><%= version.selected.join(' ,') %></span>
			<% if (version.version.get('customizationNote')) { %>
				<div class="customization_description">
                  <% _.each(version.version.get('subItems'), function(subItem){ %>
                    <span class="customization-title"><%= subItem.displayText %>:</span>
                    <ul class="customization-part">
                      <% _.each(subItem.selected, function(subSubItem){ %>
                        <li class="customization-item-name"><%= subSubItem.displayText %></li>
                      <% }); %>
                    </ul>
                  <% }); %>
                </div>
			<% } %>
		</div>
		<div class="float_right">
			<div class="select_container catalog_item_counter">
				<div class="ui-grid-b">
					<div class="ui-block-a quantity_minus decrementQuantity" data-version="<%= index %>">
						<a class="right minus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-minus ui-btn-icon-notext" catalogid="COMBO3" catalogdisplaytext="Combo3"></a>
					</div>
					<div class="ui-block-b cmntyex-add_to_basket_quantity quantity_field">
						<span class="quantity" data-version="<%= index %>"><%= version.quantity %></span>
					</div>
					<div class="ui-block-c quantity_plus incrementQuantity" data-version="<%= index %>">
						<a class="left plus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-plus ui-btn-icon-notext" catalogid="COMBO3" catalogdisplaytext="Combo3"></a>
					</div>
				</div>
			</div>
			<span class="versions-price">$ <%= (version.quantity * version.version.get('price')).toFixed(2) %></span>
		</div>
	</div>
<% }) %>