<!-- <a style="background-color: <%= color %>; border-color:#555;" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
    <%= itemName %>
    <span class="right">$<%= price %></span>
</a> -->
<div class="sides_extras_item_details <%= color %>">
    <span class="item_name"><%= itemName %></span>
    <span class="item_price">$<%= price %></span>
</div>
<div class="float_right">
    <div class="select_container">
        <div class="ui-grid-b">
            <div class="ui-block-a quantity_minus decrementQuantity">
                <a class="right minus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-minus ui-btn-icon-notext" catalogid="COMBO3" catalogdisplaytext="Combo3"></a>
            </div>
            <div class="ui-block-b cmntyex-add_to_basket_quantity quantity_field">
                 <span class="quantity" id="itemCount_COMBO3">1</span>
            </div>
            <div class="ui-block-c quantity_plus incrementQuantity">
                <a class="left plus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-plus ui-btn-icon-notext" catalogid="COMBO3" catalogdisplaytext="Combo3"></a>
            </div>
        </div>
    </div>
    <span class="order_price">$ 9.75</span>
</div>
