<% _.each(versions, function(version, index){ %>
	<div class="item_version" data-version="<%= index %>">
		<span class="version-description"><%= version.selected.join(' ,') %></span>
		<div class="float_right">
			<div class="select_container catalog_item_counter">
				<div class="ui-grid-b">
					<div class="ui-block-a quantity_minus decrementQuantity" data-version="<%= index %>">
						<a class="right minus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-minus ui-btn-icon-notext" catalogid="COMBO3" catalogdisplaytext="Combo3"></a>
					</div>
					<div class="ui-block-b cmntyex-add_to_basket_quantity quantity_field">
						<span class="quantity" data-version="<%= index %>"><%= version.quantity %></span>
					</div>
					<div class="ui-block-c quantity_plus incrementQuantity" data-version="<%= index %>">
						<a class="left plus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-plus ui-btn-icon-notext" catalogid="COMBO3" catalogdisplaytext="Combo3"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
<% }) %>