<!-- <a style="background-color: <%= color %>; border-color:#555;" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
    <%= itemName %>
    <span class="right">$<%= price %></span>
</a> -->
<div class="catalog_item_main_view">
    <div style="display: inline-block; vertical-align: top;" class="sides_item_image_small">
        <img style="width: 40px; margin: 0;" src="<%= mediaURLs[0] %>" alt="" />
    </div>
    <div class="sides_extras_item_details">
        <span class="item_name"><%= itemName %></span>
        <div class="order_price">$<%= price %></div>
    </div>
    <div class="float_right">
        <div class="select_container catalog_item_counter">
            <div class="ui-grid-b">
                <div class="ui-block-a quantity_minus decrementQuantity">
                    <a class="right minus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-minus ui-btn-icon-notext" catalogid="COMBO3" catalogdisplaytext="Combo3"></a>
                </div>
                <div class="ui-block-b cmntyex-add_to_basket_quantity quantity_field">
                     <span class="quantity"><%= quantity %></span>
                </div>
                <div class="ui-block-c quantity_plus incrementQuantity">
                    <a class="left plus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-plus ui-btn-icon-notext" catalogid="COMBO3" catalogdisplaytext="Combo3"></a>
                </div>
            </div>
        </div>
        <div class="sides_extras_expand_icon">▼</div>
    </div>
</div>
<div style="display: none;" class="sides_extras_detailed">
    <img src="<%= mediaURLs[0] %>" alt="" />
    <div class="catalog_item_attributes">
        <% _.each(attributes, function(status, attr) { %>
            <div class="catalog_item_attribute <%= status ? 'true_attr' : 'false_attr' %>"><%= attr %></div>
        <% }) %>
    </div>
</div>
