<div class="catalog_item_main_view version">
    <% if (thumbnailBase64) { %>
        <div class="sides_item_image_small_container">
            <img src="data:image/gif;base64,<%= thumbnailBase64 %>" alt="" />
        </div>
    <% } %>
    <div class="sides_extras_item_details">
        <span class="item_name"><%= itemName %></span>
        <div class="price-container">
            <span class="order_price">$<%= price %></span>
            <span class="customization-note"></span>
        </div>
    </div>
    <div class="sides_extras_item_versions <% if (hasSubItems) { %>with-customization<% } %> <%= versionsClass %>">
        <div class="ui-field-contain versions_buttons">
            <% _.each(selectorVersions, function(selector, index){ %>
                <select name="select-version-<%= index %>" id="select-version-<%= index %>" data-mini="true">
                    <% _.each(selector, function(version){ %>
                        <option value="<%= version %>" <% if (availableVersion[index] === version) { %>selected<% } %> ><%= version %></option>
                    <% }) %>
                </select>
            <% }) %>
        </div>
        <% if (hasSubItems) { %>
            <div class="customization-btn-container">
                <button class="customize_btn cmtyx_color_1 cmtyx_border_color_1" name="item_customize"><span class="customization-mark" name="customization-mark">*</span>customize</button>
                <i class="fa fa-times customization-reset" name="customization-reset" aria-hidden="true"></i>
            </div>
        <% } %>
        <div class="float_right">
            <div class="select_container catalog_item_counter">
                <div class="ui-grid-b">
                    <div class="ui-block-c quantity_plus incrementQuantity">
                        <a class="left plus_version_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-plus ui-btn-icon-notext" catalogid="COMBO3" catalogdisplaytext="Combo3"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sides_extras_item_not_available_versions">
        <span>This combination is not available</span>
    </div>
    <div class="sides_extras_item_added_versions"></div>
</div>
<div class="sides_extras_detailed" <% if (preopenAllPictures) { %>style="display: block;"<% } %>>
    <% if (mediaURLs[0] !== '' || typeof mediaURLs[0] !== 'undefined' ) { %>
        <div class="sides_extras_detailed_image">
            <img alt="" <% if (direction === 'HORIZONTAL') { %>src="<%= mediaURLs[0] %>"<% } %> />
        </div>
    <% } %>
    <div class="catalog_item_attributes">
        <div class="short_description"><%= shortDescription %></div>
        <div class="long_description"><%= longDescription %></div>
        <% _.each(attributes, function(status, attr) { %>
            <div class="catalog_item_attribute <%= status ? 'true_attr' : 'false_attr' %>"><%= attr %></div>
        <% }) %>
    </div>
</div>
<div class="out-of-stock-cover">
    <span class="cross">&#10060;</span>
    <span class="text">Out of stock</span>
</div>
