<% if (editable) { %>
<div class="float_right">
    <div class="select_container">
        <% if (quantity) { %>
            <select data-role="none" class="select combo_select_item"> 
                <% for (var i = 0; i <= 10; i++) { %>
                        <% if(i == quantity) { %>
                            <option value="<%= i %>" selected="selected"><%= i %></option>
                        <% } else { %>
                            <option value="<%= i %>"><%= i %></option>
                        <% } %>
                <% } %>
            </select>
        <% } %>
</div>  
<span class="order_price">$ <%= quantity * price %></span> 
</div>
<% } else { %>
<div class="float_right">
    <div class="select_container">
        <% if (quantity) { %>
            <select data-role="none" class="select combo_select_item"> 
                <% for (var i = 0; i <= 10; i++) { %>
                        <% if(i == quantity) { %>
                            <option value="<%= i %>" selected="selected"><%= i %></option>
                        <% } else { %>
                            <option value="<%= i %>"><%= i %></option>
                        <% } %>
                <% } %>
            </select>
        <% } %>
    </div>  
    <span class="order_price">$ <%= quantity * price %></span> 
</div>
<% } %>
