<% if (editable) { %>
	<span class="order_name"><%=  itemName %></span>
    <div class="float_right">
        <div class="select_container">
            <% if (quantity) { %>
                <div class="ui-grid-b">
                    <div class="ui-block-a quantity_minus decrementQuantity">
                        <a class="right minus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-minus ui-btn-icon-notext" catalogId="<%=catalogId%>"></a>
                    </div>
                    <div class="ui-block-b cmntyex-add_to_basket_quantity quantity_field">
                         <span class="quantity" id="itemCount_<%=catalogId%>" ><%= quantity %></span>
                    </div>
                    <div class="ui-block-c quantity_plus incrementQuantity">
                        <a class="left plus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-plus ui-btn-icon-notext"  catalogId="<%=catalogId%>"></a>
                    </div>
                </div>
            <% } %>
        </div>
        <span class="order_price cmtyx_text_color_1">$ <%= (quantity * price).toFixed(2) %></span>
    </div>
<% } else { %>
    <span class="order_name"><%=  itemName %></span>
<% } %>
