<% if (editable) { %>
	<% if (catalogId === 'SIDES' && typeof title !== 'undefined') { %>
		<div class="sides_title cmtyx_text_color_1">
			<%= title %>
		</div>
	<% } %>
	<span class="order_name"><%=  displayText %></span>
    <div class="float_right">
        <div class="select_container">
            <% if (quantity) { %>
                <div class="ui-grid-b">
                    <div class="ui-block-a quantity_minus decrementQuantity">
                        <a class="right minus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-minus ui-btn-icon-notext" catalogId="<%=catalogId%>" catalogDisplayText="<%=displayText%>"></a>
                    </div>
                    <div class="ui-block-b cmntyex-add_to_basket_quantity quantity_field">
                         <span class="quantity" id="itemCount_<%=catalogId%>" ><%= quantity %></span>
                    </div>
                    <div class="ui-block-c quantity_plus incrementQuantity">
                        <a class="left plus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-plus ui-btn-icon-notext"  catalogId="<%=catalogId%>" catalogDisplayText="<%=displayText%>"></a>
                    </div>
                </div>
            <% } %>
        </div>
        <span class="order_price cmtyx_text_color_1">$ <%= (quantity * price).toFixed(2) %></span>
    </div>
    <div class="order_subitem_name">
		<% if (catalogId !== "SIDES") { %>
			<p><%=  ownComboItemText %></p>
		<% } %>
	</div>
    <!--<a class="cmntyex-remove-list-item ui-btn ui-shadow ui-corner-all
        <% if (selected) { %>ui-icon-delete<%} else {%>ui-icon-none<% } %>
        ui-btn-icon-left">
   <span>    <%=  quantity  %> x </span> <span style="padding-left:100px;" ><%=  displayText %></span>
    </a>-->
<% } else { %>
    <span class="order_name"><%=  displayText %></span>
    <div class="float_right">
        <div class="select_container">
            <% if (quantity) { %>
               <div class="ui-grid-b">
                    <div class="ui-block-a quantity_minus decrementQuantity">
                        <a class="right minus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-minus ui-btn-icon-notext"  catalogId="<%=catalogId%>" catalogDisplayText="<%=displayText%>"></a>
                    </div>
                    <div class="ui-block-b cmntyex-add_to_basket_quantity quantity_field">
                         <span class="quantity" id="itemCount_<%=catalogId%>" ><%= quantity %></span>
                    </div>
                    <div class="ui-block-c quantity_plus incrementQuantity">
                        <a class="left plus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-plus ui-btn-icon-notext"  catalogId="<%=catalogId%>" catalogDisplayText="<%=displayText%>"></a>
                    </div>
                </div>
            <% } %>
        </div>
        <span class="order_price cmtyx_text_color_1">$ <%= quantity * price %></span>
    </div>
    <div class="order_subitem_name">
		<% if (catalogId !== "SIDES") { %>
			<%=  ownComboItemText %>
		<% } %>
	</div>
    <!--<li class="cmntyex-remove-list-item">
  <span>     <%=  quantity %> x </span> <span style="padding-left:100px;" > <%=  displayText %>  </span>
    </li>-->
<% } %>
