<div data-role="collapsible" data-inset="false" data-collapsed="false" class="cmntyex-group ui-listview cmntyex-catalog <% if(direction === 'HORIZONTAL') { %>horizontal<% } %>">
    <h3 style="background: <%= color %>;" class="cmntyex-group_title <%= color %>">
        <span class="<%= text_color %>"><%= groupDisplayText %></span>
        <% if (description) { %>
	    	<div class="cmntyex-group_description <%= color %>">
	    		<span><%= description %></span>
	    	</div>
	    <% } %>
    </h3>
    <div class="carousel-navigation <%= color %>">
    	<div class="navigation-prev disabled">
    		<span class="glyphicon glyphicon-menu-left"></span>
    	</div>
    	<div class="navigation-next">
    		<span class="glyphicon glyphicon-menu-right"></span>
    	</div>
    </div>
    <div class="cmntyex-list_placeholder"></div>
</div>
