<div class="chat_message_time_created">
    <%= timeStamp %>
</div>
<table>
	<tbody>
		<tr>
			<% if (fromUser === true) { %>
				<td class="time"><%= (userName || '') + ' ' + toTimeString %></td>
				<td class="message">
					<div class="message_text"><%= messageBody %></div>
				</td>
			<% } else { %>
				<td class="message">
					<div class="message_text"><%= messageBody %></div>
				</td>
				<td class="time"><%= saslName + ' ' + toTimeString %></td>
			<% } %>
		</tr>
	</tbody>
</table>
