<div class="chat_message_time">
    <%= timeStamp %>
</div>
<div class="chat_message_container">
	<% if (fromUser === true) { %>
		<div class="message">
			<div class="message_text"><%= messageBody %></div>
		</div>
	    <div class="time">
	    	<div><%= (userName || '') %></div>
	    	<div><%= toTimeString %></div>
	    </div>
	<% } else { %>
	    <div class="time">
	    	<div><%= saslName %></div>
	    	<div><%= toTimeString %></div>
	    </div>
		<div class="message">
			<div class="message_text"><%= messageBody %></div>
		</div>
	<% } %>
</div>

