<ul>
	<% _.each(list, function(item, index){ %>
		<li class="" data-index="<%= index %>" style="box-shadow:none;">
			<div class="order_subitem_name"><%= item.itemsList %></div>
		    <div class="float_right">
			    <div class="select_container" style="margin: 0;">
			        <div class="ui-grid-b">
			            <div class="ui-block-a quantity_minus decrementQuantity">
			                <a class="right minus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-minus ui-btn-icon-notext"  data-owncombo="<%= index %>"></a>
			            </div>
			            <div class="ui-block-b cmntyex-add_to_basket_quantity quantity_field">
			                 <span class="quantity" id="ownCombo_<%= index %>"><%= item.quantity %></span>
			            </div>
			            <div class="ui-block-c quantity_plus incrementQuantity">
			                <a class="left plus_button ui-btn ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-plus ui-btn-icon-notext" data-owncombo="<%= index %>"></a>
			            </div>
			        </div>
			    </div>
			</div>
		</li>
	<% }) %>
</ul>