<img src="<%=catalog.url%>" alt="" height="180" width="336">
    <span class="item_name"><%=catalog.displayText%></span>
    <span class="item_price"></span>
    <span class="under_item_name_text"><%=catalog.description%></span>
    <div class="combo_items_container"></div>
</div>
<button class="ui-btn ui-corner-all back_btn build_btn roster_catalog_item_add_button cmtyx_color1" catalogId="<%=catalog.catalogId%>"><%=catalog.displayText%></button>
