<img src="<%=catalog.url%>" alt="" height="180" width="336">
    <span class="item_name"><%=catalog.displayText%></span>
    <span class="item_price cmtyx_text_color_1"></span>
    <span class="under_item_name_text"><%=catalog.description%></span>
    <div class="combo_items_container"></div>
</div>
<button class="ui-btn ui-corner-all build_btn roster_catalog_item_add_button cmtyx_border_color_1 cmtyx_text_color_1" catalogId="<%=catalog.catalogId%>"><%=catalog.displayText%></button>
