<div id="cmtyx_catalogView" data-role="page" class="page build_combo">
    <div class="sub_header">
        <a href="#left-panel"><span class="shopping_icon"></span></a> <span class="cart_items_number"><%=basket.getComboCount()%></span>
        <div class="total_price_order_block"><% if(basket.getComboCount()) { %> <span class="total_price">Total $35.00</span> <% } %> <a class="header_order_btn order_btn order_button" id="roster_order_button">Order</a> </div>
    </div>
    <div data-role="content" class="content" role="main">
        <div class="menu_body">
            <!-- <div class="build_combo_title"> <span class="build_combo_back_btn navbutton_back back"></span> <span>Build your own combo</span> </div> -->
            <div class="cmntyex-items_placeholder"></div>
            <div class="ui-grid-a back_next_btns">
                <button class="ui-btn ui-corner-all next_btn add_to_cart_btn add_combo_button cmtyx_background_color1">Add to cart</button>
            </div>
        </div>
    </div>
</div>

<!--<div id="cmtyx_generatedView" data-role="page" class="page">
    <div class="sprite_navbar navbutton_back back"></div>
    <div data-role="content" class="content">
        <div  class="ui-grid-c cmntyex-basket">
        <div style="padding-top:20px; text-align: center;"><%=basket.catalogDisplayText%></div>
            <div style="padding-top:10px;text-align: center;  <% if(! basket.hasCombo()) { %> visibility:none;<% } %> " id="catalog_combo_count_div">
                Combo: <span class="num-of-combo-items"><%= basket.getComboCount() %></span> : $<span class="combo-total-price"><%= basket.getComboPrice() %></span>
            </div>
            <div class="ui-block-a">
                <div class="edit_button sprite_navbar sub_edit"></div>
            </div>
        <% if (basket.hasCombo()) { %>
            <div id="catalog_extras_row" class="ui-block-b">
                <p>Extra: <span class="num-of-items"><%= basket.nonComboItemCount() %></span>  $<span class="total-price"><%= basket.getNonComboPrice() %></span></p>
            </div>
        <% } else { %>
            <div id="catalog_items_row" class="ui-block-b">
                <p>Items <span class="num-of-items"><%= basket.count() %></span> - $<span class="total-price"><%= basket.getTotalPrice() %></span></p>
            </div>
        <% } %>
          <div  class="ui-block-d">
             <button class="add_combo_button cmntyex-basket_add_button" style="width: 70px;">Add</button>
          </div>
           <div class="ui-block-d">
               <button class="order_button cmntyex-basket_order_button" style="width: 70px;">Order</button>
           </div>
        </div>
        <div class="cmntyex-items_placeholder">
        </div>
    </div>
</div>-->
