<div class="header cmtyx_color_2">
    <span class="title">Poll</span>
    <div class="collapse_btn">&#9650;</div>
</div>
<div class="body">
    <img class="poll_image" src="<%= imageURL %>"></img>
    <span class="poll_displaytext"><%= displayText %>?</span>

    <ul class="poll_ans_form <% if (answerStatus.enumText === 'ANSWERED') { %>answered<% } %>">
        <% _.each(choices, function(choice, index){ %>
            <li>
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <input type="radio" name="radio-choice-ans" id="ans_<%= index %>" data-choice="<%= choice.choiceId %>" class="ansRadioChoice" <% if (answerStatus.enumText === 'ANSWERED') {
                                if (answerStatus.id === index + 1) {%> checked='checked'<% } %>
                            <% } else if ( index === 0 ) { %>checked='checked'<% } %>>
                        <label for="ans_<%= index %>"><%= choice.displayText %> </label>
                    </div>
                    <div class="ui-block-b">
                        <span class="answer_color_container cmtyx_color_<%= (index % 4) + 1 %>"></span>
                    </div>
                </div>
            </li>
        <% }) %>
    </ul>
    <% if (answerStatus.enumText !== 'ANSWERED') { %>
        <button class="submit_poll_button open_menu_btn cmtyx_border_color_1 cmtyx_text_color_1 ui-btn ui-corner-all">submit</button>
    <% } else { %>
        <div class="poll-answered cmtyx_text_color_1">
            you've already answered this question
        </div>
    <% } %>
    <div class="poll_results answerBar jqplot-target" id="pollBar"></div>

    <div class="prizes_title">All entries are entered into our mini sweepstakes!</div>
    <ul>
        <% _.each(prizes, function(prize, index){ %>
            <li>
                <div class="prize_block">
                    <div class="ui-grid-a prize_container">
                        <div class="ui-block-a">
                            <div class="prize_text_block">
                                <span class="prize_text"><%= prize.contestPrizeName %></span>
                                <span class="prize_condition"><%= prize.displayText %></span>
                                <span class="prize_date"><%= prize.quantity %></span>
                            </div>
                        </div>
                        <div class="ui-block-b ">
                            <img src="<%= prize.imageUrl %>"></img>
                        </div>
                    </div>
                </div>
            </li>
        <% }) %>
    </ul>
</div>