<div class="header cmtyx_color_2">
    <style>.poll_block #flag:after { border-bottom-color: <%= $('.cmtyx_color_2').css('background-color') %> }</style>
    <div id="flag"><span>prize</span></div>
    <span class="title">Sweepstake</span>
    <div class="collapse_btn">&#9660;</div>
    <span class="prize_cup_icon"></span>
</div>
<div class="body">
    <ul class="poll_gallery">
        <% _.each(contests, function(poll, poll_index){ %>
            <li class="poll_item" data-uuid="<%= poll.contestUUID %>">
                <ul class="contest_prizes shown">
                    <div class="poll_block_title"><span>Enter to win</span>&nbsp</div>
                    <div class="ui-grid-a prizes_title">
                        <div class="ui-block-a">
                            <!-- <div class="medal_icon"></div> -->
                            <span class="prize_cup_icon"></span>
                        </div>
                        <div class="ui-block-b">All entries are entered into our mini sweepstakes!</div>
                    </div>
                    <% _.each(poll.prizes, function(prize, index){ %>
                        <li>
                            <div class="prize_block">
                                <div class="ui-grid-a prize_container">
                                    <div class="ui-block-a">
                                        <img src="<%= prize.imageUrl %>"></img>
                                    </div>
                                    <div class="ui-block-b ">
                                        <div class="prize_text_block">
                                            <span class="prize_text"><%= prize.contestPrizeName %></span>
                                            <span class="prize_condition"><%= prize.displayText %></span>
                                            <span class="prize_date"><%= prize.quantity %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <% }) %>
                </ul>
                <div class="contest_container">
                    <img class="poll_image" src="<%= poll.imageURL %>"></img>
                    <span class="poll_displaytext"><%= poll.displayText %>?</span>

                    <ul class="poll_ans_form <% if (poll.answerStatus.enumText === 'ANSWERED') { %>answered<% } %>" data-index="<%= poll_index %>">
                        <% _.each(poll.choices, function(choice, index){ %>
                            <li>
                                <div class="ui-grid-a">
                                    <div class="ui-block-a">
                                        <input type="radio" name="radio-choice-ans" data-poll-index="<%= poll_index %>" id="ans_<%= index %>-<%= poll.contestUUID %>" data-uuid="<%= poll.contestUUID %>" data-choice="<%= choice.choiceId %>" class="ansRadioChoice" <% if (poll.answerStatus.enumText === 'ANSWERED') {
                                            if (choice.thisIsYourChoice) {%> checked="checked"<% } %>
                                        <% } else if ( index === 0 ) { %>checked='checked'<% } %>>
                                        <label for="ans_<%= index %>-<%= poll.contestUUID %>"><span><span></span></span></label>
                                        <div class="question_item">
                                            <div class="bar">
                                                <% if (poll.answerStatus.enumText !== 'ANSWERED') { %>
                                                    <div class="back cmtyx_color_<%= (index % 4) + 1 %>"></div>
                                                    <span class="percent"></span>
                                                <% } else { %>
                                                    <div class="back cmtyx_color_<%= (index % 4) + 1 %>" style="width: <%= Math.round(choice.percentOfTotalResponses) %>%"></div>
                                                    <span class="percent"><%= Math.round(choice.percentOfTotalResponses) %>%</span>
                                                <% } %>
                                            </div>
                                            <p class="question_text"><%= choice.displayText %></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                    <% if (poll.answerStatus.enumText !== 'ANSWERED') { %>
                        <button class="submit_poll_button open_menu_btn cmtyx_border_color_1 cmtyx_text_color_1 ui-btn ui-corner-all" data-uuid="<%= poll.contestUUID %>">submit</button>
                    <% } else { %>
                        <!-- <div class="poll-answered">
                            <span class="alert_sign_icon"></span>
                            You have already answered this question
                        </div> -->
                    <% } %>
                    <div class="poll_results answerBar jqplot-target" id="pollBar-<%= poll.contestUUID %>"></div>
                </div>
                <div class="share_container">
                    <div class="share_btn_block"
                        uuid="">
                        <span class="icon share_icon"></span> <span class="text">Share</span>
                    </div>
                    <div class="share_block" data-uuid="<%= poll.contestUUID %>">
                        <div class="ui-grid-c">
                            <div class="sms_input_block" data-uuid="<%= poll.contestUUID %>">
                                <input class="phone_us sms_input" type="tel" name="sms_input" placeholder="(US mobile)" value="" size="14" maxlength="64">
                                <span class="sms_send_button cmtyx_color_1 cmtyx_border_color_1">Send</span>
                            </div>
                            <div class="ui-block-a text sms_block">
                                <a href="" class="share_sms cmtyx_text_color_1">
                                    <span class="share_icon sms_icon"></span>
                                </a>
                            </div>
                            <div class="ui-block-b text email_block">
                                <a href="" class="share_email cmtyx_text_color_1">
                                    <span class="share_icon email_icon"></span>
                                </a>
                            </div>
                            <div class="ui-block-c text facebook_block">
                                <a href="" target="_blank" class="share_facebook cmtyx_text_color_1">
                                    <span class="share_icon facebook_icon"></span>
                                </a>
                            </div>
                            <div class="ui-block-d text twitter_block">
                                <a href="" target="_blank" class="share_twitter cmtyx_text_color_1">
                                    <span class="share_icon twitter_icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        <% }) %>
    </ul>
</div>
